---
import './styles.css'

import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import { getLangFromUrl } from '../../../i18n/utils'

import typeScriptIcon from '../../../assets/images/TypeScript.png'
import reactIcon from '../../../assets/images/React.png'
import tailwindCssIcon from '../../../assets/images/TailwindCSS.png'
import nextJsIcon from '../../../assets/images/NextJS.png'
import nodeJsIcon from '../../../assets/images/NodeJS.png'
import mySqlIcon from '../../../assets/images/MySQL.png'
import dockerIcon from '../../../assets/images/Docker.png'

const lang = getLangFromUrl(Astro.url)
---

<a class="card-project--cut-link" href={`/${lang}/projects/cutlink-x`}>
    <div class="card-project--cut-link__grow"></div>

    <div
        class="card-project--cut-link__circular-decoration card-project--cut-link__circular-decoration--first"
    >
    </div>
    <div
        class="card-project--cut-link__circular-decoration card-project--cut-link__circular-decoration--second"
    >
    </div>

    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncrk-github</span
    >
    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncr</span
    >
    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncr</span
    >
    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncr</span
    >
    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncr</span
    >
    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncr</span
    >
    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncr</span
    >
    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncr</span
    >
    <span class="card-project--cut-link__link-decoration"
        >https://cutlinkx.com/jasoncr</span
    >

    <div class="card-project--cut-link__content">
        <p class="card-project--cut-link__content__name">
            <span>CutLink</span>
            <Icon
                class="card-project--cut-link__content__name__icon"
                name="mdi:scissors"
            />
        </p>
        <div class="card-project--cut-link__content__stack">
            <Image
                class="card-project--cut-link__content__stack__tech"
                src={typeScriptIcon}
                alt="TypeSCript"
                loading="eager"
                title="TypeScript"
            />
            <Image
                class="card-project--cut-link__content__stack__tech"
                src={reactIcon}
                alt="React"
                loading="eager"
                title="React"
                quality="low"
            />
            <Image
                class="card-project--cut-link__content__stack__tech"
                src={nextJsIcon}
                alt="NextJS"
                loading="eager"
                title="NextJS"
                quality="low"
            />
            <Image
                class="card-project--cut-link__content__stack__tech"
                src={tailwindCssIcon}
                alt="TailwindCSS"
                loading="eager"
                title="TailwindCSS"
                quality="low"
            />
            <Image
                class="card-project--cut-link__content__stack__tech"
                src={nodeJsIcon}
                alt="NodeJS"
                loading="eager"
                title="Node JS"
                quality="low"
            />
            <Image
                class="card-project--cut-link__content__stack__tech"
                src={mySqlIcon}
                alt="MySQL"
                loading="eager"
                title="MySQL"
                quality="low"
            />
            <Image
                class="card-project--cut-link__content__stack__tech"
                src={dockerIcon}
                alt="Docker"
                loading="eager"
                title="Docker"
                quality="low"
            />
        </div>
    </div>
</a>

<script is:inline lang="ts">
    const $cutLinkXCard = document.querySelector('.card-project--cut-link')
    let cutLinkXBounds

    function rotateToMouseForCutLinkX(e) {
        const mouseX = e.clientX
        const mouseY = e.clientY
        const leftX = mouseX - cutLinkXBounds.x
        const topY = mouseY - cutLinkXBounds.y
        const center = {
            x: leftX - cutLinkXBounds.width / 2,
            y: topY - cutLinkXBounds.height / 2,
        }
        const distance = Math.sqrt(center.x ** 2 + center.y ** 2)

        $cutLinkXCard.style.transform = `
        scale3d(1.07, 1.07, 1.07)
        rotate3d(
          ${center.y / 100},
          ${-center.x / 100},
          0,
          ${Math.log(distance) * 2.4}deg
        )
      `

        $cutLinkXCard.querySelector(
            '.card-project--cut-link__grow',
        ).style.backgroundImage = `
        radial-gradient(
          circle at
          ${center.x * 2 + cutLinkXBounds.width / 2}px
          ${center.y * 2 + cutLinkXBounds.height / 2}px,
          rgba(255, 255, 255, 0.1),
          #0000000f
        )
      `
    }

    $cutLinkXCard.addEventListener('mouseenter', () => {
        cutLinkXBounds = $cutLinkXCard.getBoundingClientRect()
        document.addEventListener('mousemove', rotateToMouseForCutLinkX)
    })

    $cutLinkXCard.addEventListener('mouseleave', () => {
        document.removeEventListener('mousemove', rotateToMouseForCutLinkX)
        $cutLinkXCard.style.transform = ''
        $cutLinkXCard.style.background = ''
        $cutLinkXCard.querySelector(
            '.card-project--cut-link__grow',
        ).style.backgroundImage = ''
    })
</script>
